.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.boy{
    width: 240px;
}
.slogan, .insp, .trgt-hd{
    font-weight: 800;
    font-size: 35px;
    color: rgb(13, 19, 33);
    margin-bottom: 30px;
}
.slogan2, .insp-slo, .trgt-slo{
    font-weight: 400;
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 30px;
}
.contact-btn{
    font-size: 15px;
    padding: 20px 25px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
}
.banner{
    text-align: center;
    justify-content: center;
    background-image: url('../assets/Hero-bg.png');
}
main{
    max-width: 1000px;
    margin: 0 auto;
}
.sec-full{
width: 950px;
height: 1200px;
padding: 80px 100px;
background-color: rgba(13, 19, 33, 0.02);
border-radius: 20px;
}

.why{
    text-align: center;
}

.full-reason{
    display: flex;
    padding: 45px;
    background-color: rgb(255, 255, 255);
    align-self: stretch;
    height: 250px;
    width: 850px;
    border-radius: 30px;
    margin-bottom: 5px;
}
.reas-head{
    color: rgba(13, 19, 33, 0.7);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;    
}
.reas-des{
    font-weight: 400;
    font-size: 13px;
    color: rgb(13, 19, 33);
    opacity: .7;
    margin-bottom: 32px;
}
.reas-btn{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 140px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
}
.reas-img{
  width: 260px;
  height: 220px;
}
.inspiration{
    text-align: center;
}
.trgt-div{
    text-align: center;
}
.all-skill{
    display: flex;
}
.skl-img{
    height: 55px;
    width: 55px;
    margin-bottom: 25px;
}
.skl-hd{
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0;
    color: rgb(13, 19, 33);
}
.skl-pr{
    font-size: 15px;
    font-weight: 400;
    opacity: .7;
    color: rgb(13, 19, 33);
}
.skl-a{
    font-size: 15px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}
.html-div{
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.css-div{
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.js-div{
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.all-skill{
    gap: 25px;
}
.support{
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    width: 1150px;
    height: 320px;
    text-align: center;
    padding: 65px 0;
    border-radius: 16px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.sprt-txt{
    
    text-align: center;
}
.sprt-hd{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.sprt-pr{
    font-weight: 400;
    font-size: 16px;
    opacity: .7;
    color: rgb(255, 255, 255); 
}
.feed-txt{
    width: 550px;
    height: 30px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 0 16px;
}
.sbmt-btn{
    width: 120px;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;
    border-radius: 8px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.feed{
    display: flex;
    justify-content: center;
}
.foot{
    width: auto;
    height: 70px;
    padding: 0 150px;
    margin: 0 auto;
    background-color: rgba(13, 19, 33, 0.03);
}
.ft{
    display: flex;
    justify-content: center;
    gap: 530px;
}
